    <div class="my-3">
        <h2><%= link_to "#{@user.name}", user_path(@user), class: "text-decoration-none" %></h2>
    </div>
    
       <% if @user.image? %>
          <%= image_tag @user.image.thumb.url %>
       <% else %>
          <%= image_tag "default.png", :size => '100x100' %>
       <% end %>
       
       <div class="my-3">
       <%= @user.introduction %>
       </div>


    <div class="my-3">
        <% if current_user == @user %>
            <%= link_to "プロフィール編集", edit_user_path, class: 'btn btn-success btn-sm mb' %>
            <%= link_to "新規投稿", new_post_path, class: 'btn btn-success btn-sm' %>
        <% end %>
         <%#= link_to "投稿一覧", :controller => 'posts', :action => 'index' %>
         <%= link_to "#{@user.name}のお気に入り名言", favorites_user_path, class: 'btn btn-primary btn-sm' %>
         <%#= link_to "お気に入りランキング", ranking_path, class: 'btn btn-primary btn-sm' %>
         
        <%= render 'posts/posts', posts: @posts %>
     <%#== pagy_nav(@pagy) %>
    </div>    