  <div class="mb-3 text-center">
    <h3>新規投稿</h3>
  </div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @post) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="mb-3">
      <%= f.label :genre_id, 'ジャンル' %><br>
      <%= f.collection_select :genre_id, @genres, :id, :name, {include_blank: "---"} %>
      </div>  
      
      <div class="mb-3">
        <%= f.label :author, '発言者' %>
        <%= f.text_field :author, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :wordby, '作品名等' %>
        <%= f.text_field :wordby, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :content, '言葉' %>
        <%= f.text_area :content, :rows => "4", class: 'form-control' %>
      </div>


      <%= f.submit '投稿', class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
</div>
