


  「<%= @post.content %>」<br>
  <br>
  <%= @post.author %>の言葉<br>
  【作品名】: <%= @post.wordby %> <br>
  【ジャンル】: <%= @post.genre.name %>   【投稿】: <a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a>    <%= @post.created_at.strftime("%Y年 %m月 %d日") %> 
   
    <div class="d-flex justify-content mt-3">
      <% if current_user.id == @post.user.id %>
         <%= link_to '投稿を編集する', edit_post_path, class: 'btn btn-success btn-sm m-1' %>
         <%= link_to '投稿を削除する', post_path(@post), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-danger btn-sm m-1' %> 
       <% else %>
       <% end %>
      <%= render 'favorites/favorite_button', post: @post %><%= @post.favorites.count %>
      <%= image_tag "chat-left-dots.svg", :size => '30x30', :alt => 'コメント', class: "ms-3" %><%= @post.comments.count %>
    </div>
   <!--以下コメント機能実装 -->
   
  <div class="mt-4">
    <h4>コメント一覧</h4>
  <% @comments.each do |comment| %>
  <div>
      <a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a>　 <%= comment.content %>  <%=comment.created_at.strftime("%Y年 %m月 %d日") %>
      <% if current_user.id == comment.user.id %>
      <%= link_to 'コメントを編集する', edit_post_comment_path(@post, comment) %>
      <%= link_to 'コメントを削除する', post_comment_path(@post,comment), method: :delete, data: { confirm: '削除しますか？' } %>
      <% end %>
      <hr>
    </div>
    <% end %>
  </div> 

  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_field :content %>
    <br>
    <div class="my-2">
      <%= f.submit 'コメントする' %>
    </div>
  <% end %>

<%= link_to "戻る", :back %>